:root {
  --loaded-message: 'css loaded :)'
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: rgb(129, 154, 255);
}
.container {
  display: flex;
  height: 98vh;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.messages{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
}
.memory-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 1000px;
}
.card {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.9s;
}
.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  
}
.card:active {
  transform: scale(0.97);
  transition: transform 0.3s;
}
.card img {
  filter: drop-shadow(8px 8px 3px #222);
}
.card-front {
  transform: rotateY(180deg);
}
.card.flip {
  transform: rotateY(180deg);
}


@media only screen and (min-width: 600px){
  .memory-game {
    width: 70vw;
  }

  .card {
    width: 14vw;
    height: 14vw;
    margin: 10px;
  }
  .card img {
    width: 14vw;
    height: 14vw;
  }
}

@media only screen and (max-width: 600px){
  .memory-game {
    width: 90vw;
  }

  .card {
    width: 22vw;
    height: 20vw;
    margin: 10px;
  }
  .card img {
    width: 20vw;
    height: 20vw;
  }
}